www/mwg/products/agent-quoter/stacked-color-v2c.svg
www/mwg/products/agent-quoter/stacked-color-v2b.svg
www/mwg/products/agent-quoter/stacked-color-v2a.svg
www/mwg/products/agent-quoter/stacked-color-v1.svg
www/mwg/products/agent-quoter/color-v2c.svg
www/mwg/products/agent-quoter/color-v2b.svg
www/mwg/products/agent-quoter/color-v2a.svg
www/mwg/products/agent-quoter/color-v1.svg
