.display-1 {
	font-size: 4.5em;
	font-weight: 300;
	color: var(--text-secondary);
}

.display-2 {
	font-size: 4em;
	font-weight: 300;
	color: var(--text-secondary);
}

.display-3 {
	font-size: 2.5em;
	font-weight: 300;
	color: var(--text-secondary);
}

.display-4 {
	font-size: 2em;
	font-weight: 300;
	color: var(--text-secondary);
}

.display-5 {
	font-size: 1.5em;
	font-weight: 300;
	color: var(--text-secondary);
}

.display-6 {
	font-size: 1.25em;
	font-weight: 300;
	color: var(--text-secondary);
}

h1, h2, h3, .h1, .h2, .h3 {
	font-weight: normal;
}

h4, h5, h6, .h4, .h5, .h6 {
	font-weight: bold;
}

h1, .h1 {
	font-size: 3em;
	border-bottom: none;
	padding-bottom: 0;
}

h2, .h2 {
	font-size: 2.25em;
}

h3, .h3 {
	font-size: 1.5em;
}

h4, .h4 {
	font-size: 1em;
}

h5, .h5 {
	font-size: 0.8em;
}

h6, .h6 {
	font-size: 0.6em;
}

p {
	font-size: 1em;
}

.lead {
	font-size: 1.25rem;
	font-weight: 300;
	color: var(--text-secondary);
}

blockquote {
	padding: 15px 20px;
	border-radius: 10px;
}

blockquote *:first-child {
	margin-top: 0;
}

blockquote *:last-child {
	margin-bottom: 0;
}

.mb-0 {
	margin-bottom: 0;
}

.mt-0 {
	margin-top: 0;
}

.ml-0 {
	margin-left: 0;
}

.mr-0 {
	margin-right: 0;
}

.p-0 {
	padding: 0;
}

.pt-0 {
	padding-top: 0;
}

.pb-0 {
	padding-bottom: 0;
}

.pl-0 {
	padding-left: 0;
}

.pr-0 {
	padding-right: 0;
}

details {
	padding-left: 20px;
}

summary {
	margin-left: -20px;
}
